<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_lidar_plugin" params="laser_name robot_namespace frame_prefix link_prefix:=''">
        <gazebo reference="${link_prefix}${laser_name}_link">
            <sensor name="${laser_name}_laserscan" type="ray">
                <!-- ROS 2 正确插件 -->
                <plugin name="${laser_name}_laserscan_plugin" filename="libgazebo_ros_ray_sensor.so">
                    <ros>
                        <namespace>${robot_namespace}</namespace>
                        <!-- 关键：使用 ~/out 重映射到目标话题 -->
                        <remapping>~/out:=/${robot_namespace}/scan_${laser_name}</remapping>
                    </ros>
                    <!-- 必须指定输出类型 -->
                    <output_type>sensor_msgs/LaserScan</output_type>
                    <frame_name>${link_prefix}${frame_prefix}${laser_name}_link</frame_name>
                </plugin>
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>20</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>360</samples>
                            <resolution>1.0</resolution>
                            <min_angle>-3.1416</min_angle>
                            <max_angle>3.1416</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.10</min>
                        <max>10.0</max>
                        <resolution>0.015</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.005</stddev>
                    </noise>
                </ray>
            </sensor>
        </gazebo>
    </xacro:macro>

</robot>